<HTML>
<HEAD>
<TITLE>CoffeeMaker</TITLE>
</HEAD>
<BODY><p>------------------------------<p>
<ol>
<li><a href= "/make_cup">Make coffee</a></li>
<li><a href= "/fill_water">Fill Water</a></li>
<li><a href= "/fill_coffee">Fill Coffee</a></li>
<li><a href= "/info">Info</a></li>
<li><a href= "/clean">Clean</a></li>
<li><a href = "/err_info">Maintenance info</a></li>
</ol>
<p>------------------------------
Your choice: 
</BODY>
</HTML>
